{% extends 'admin_index.html' %}
{% load static %}
{% block body %}

 <div class="row">
     {% if request.user.is_staff %}
     <a class="nav-link" href="/view_subadmin/">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box blue-bg">
              <i class="fa fa-user"></i>
              <div class="count">{{admin.count}}</div>
              <h4 class="">Sub Admins</h4>
            </div>
            <!--/.info-box-->
          </div>
     </a>
     {% endif %}
          <!--/.col-->
        <a class="nav-link" href="/applicationlist/?action=New">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box brown-bg">
              <i class="fa fa-user"></i>
              <div class="count">{{new.count}}</div>
              <h4 class="">New Application</h4>
            </div>
            <!--/.info-box-->
          </div>
        </a>
          <!--/.col-->
        <a class="nav-link" href="/applicationlist/?action=Approved">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box dark-bg">
              <i class="fa fa-user"></i>
              <div class="count">{{appr.count}}</div>
              <span class="">Accepted&nbsp;Application</span>
            </div>
            <!--/.info-box-->
          </div>
          <!--/.col-->
        </a>
        <a class="nav-link" href="/applicationlist/?action=Rejected">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box daark-bg">
              <i class="fa fa-user"></i>
              <div class="count">{{rej.count}}</div>
              <span class="">Rejected&nbsp;Application</span>
            </div>
            <!--/.info-box-->
          </div>
          <!--/.col-->
        </a>
        </div>
{% endblock %}