{% extends 'admin_index.html' %}
{% load static %}
{% block body %}


<legend style="color:black">User Change Password</legend>
    <div class="row">
          <div class="col-lg-10">
            <section class="panel">
              <header style="color:blue" class="panel-heading">
                User Change Password
              </header>
<br>
<section class="content">
      <div class="container">
          <!-- /.card-header -->

          <div class="card-body">
            <div class="row">

              <div class="col-md-6 col-md-offset-1">
                  <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-6">
                        <label for="exampleInputText1" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="exampleInputText" name="pwd3" placeholder="Current Password">
                    </div>
                    <div class="mb-6">
                        <label for="exampleInputText1" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="exampleInputText1" name="pwd2" placeholder="New Password">
                    </div>
                    <div class="mb-6">
                        <label for="exampleInputText1" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="pwd1" placeholder="Confirm Password">
                    </div><br>
                  <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
                </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
        </div>
</section>
            </section>
      </div>
    </div>

{% endblock %}